.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes full-up-down {
  0% {
    top: 0;
  }
  50% {
    top: calc(100% - 100px); /* 100px = tinggi item */
  }
  100% {
    top: 0;
  }
}

.animate-full-up-down {
  position: absolute;
  animation: full-up-down 4s ease-in-out infinite;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}